[Unit]
Description=uWSGI instance to server the TO API
After=network.target

[Service]
User={{ username }}
Group=www-data
WorkingDirectory=/home/{{ username }}/to-server-api
Environment="PATH=/home/{{ username }}/to-server-api/env/bin"
ExecStart=/home/{{ username }}/to-server-api/bin/uwsgi --ini to-server-api.ini

[Install]
WantedBy=multi-user.target